
Chestnut/Library/ArtifactDB
Chestnut/Library/Bee/backend_profiler0.traceevents
Chestnut/Library/Bee/fullprofile.json
Chestnut/Library/Bee/tundra.digestcache
Chestnut/Library/SourceAssetDB
Chestnut/UserSettings/Layouts/default-2021.dwlt
